ul{
    list-style-type:none;
    color :rgb(242, 17, 17);
    overflow: hidden;
    position: relative;
}
li{
    float:left;
    position: relative;
    
}
li a{
    display:block;
    height: 35px ;
    width: 75px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(89, 89, 232);
    text-decoration: none;
    color: wheat;
    border-radius: 10px;
    align-items: right;
    position: relative;
}
a::after{
 content: '';
 position: absolute;
 background: #050000;
 left: 0;
 height: 4px;
 width: 0;
 bottom: 6px;
 transition: 0.5s;
}
a:hover::after{
width: 100%;
}